{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
</head>
<body>
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mt-5">
                <h1 class="mt-5">About Us</h1>
                <label for="">Address:</label>
                <p class="lead">Karthock E ESA Retail 922, Tamil Complex, Dhandabani Street, Coimbatore-641037.</p>
               <label for="">Phone:</label>
                <p>9788992141</p>
                <p>9788992141</p>
                <label for="">Email:</label>
                <p>mgexpress.k@gmail.com</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
